* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  height: 100%;
  font-family: 'Noto Sans KR', sans-serif;
  background: #f6f8fa;
}

button {
  font-family: inherit;
  font-weight: 500;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  padding: 20px 0;
}

.buttons * {
  user-select: none;
  /* Standard syntax */
}

.buttons button {
  padding: 0 10px;
  border-radius: 4px;
  height: 32px;
  text-align: center;
  border: 0;
  outline: none;
  background: #ff5252;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.buttons button + button {
  margin-left: 10px;
}

.buttons button:hover {
  background: #cf464f;
}

.buttons button.black {
  background: #000;
}

.cube-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 50px auto 0 auto;
  perspective: 3000px;
  transform: scale(0.3);
}

.cube-wrap * {
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */
}

.cube {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -250px;
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
}

.cube .side {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border: 2px solid #333;
  text-align: center;
  line-height: 500px;
  font-size: 166.66667px;
  color: #333;
  background-color: white;
}

.cube .side:nth-child(1) {
  transform: translateZ(250px);
}

.cube .side:nth-child(2) {
  transform: rotateY(180deg) translateZ(250px);
}

.cube .side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(250px);
}

.cube .side:nth-child(4) {
  transform: rotateY(90deg) translateZ(250px);
}

.cube .side:nth-child(5) {
  transform: rotateX(90deg) translateZ(250px);
}

.cube .side:nth-child(6) {
  transform: rotateX(-90deg) translateZ(250px);
}

/*****************/
